/*
* Colors
*/
:root {
  --dark: #000000;
  --gray: #9d9d9d;
  --gray-2: #d4d4d4;
  --light: #eff2ff;
  --light-2: #f2f2f2;
  --light-3: #f9f9f9;
  --light-4: #ebebeb;
  --orange: #feaa5d;
  --success: #81c6c9;
  --white: #ffffff;
}

/*
 * General Styles
 */
body {
  font-family: 'Montserrat', sans-serif;
}

a,
a:focus,
a:hover,
a.active {
  color: var(--success);
}

a,
a:focus,
a:hover,
a.active,
.btn,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Futura PT, sans-serif;
  font-weight: 500;
}

.bg-light--2 {
  background-color: var(--light-2);
}

.bg-light--3 {
  background-color: var(--light-3);
}

.bg-light--4 {
  background-color: var(--light-4);
}

.bg-success--custom {
  background-color: var(--success);
}

.border.border-orange {
  border-color: var(--orange) !important;
}

.btn {
  /* border: none; */
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.btn.btn-gray {
  background-color: var(--gray-2);
}

.btn.btn-orange {
  background-color: var(--orange);
  color: white;
}

.btn.btn-orange-outline {
  border-color: var(--orange);
  color: var(--orange);
}

.btn.btn-success.btn-success--custom {
  background-color: var(--success);
  border-color: var(--success);
}

.form-floating .form-control.form-control--custom::placeholder {
  color: transparent;
}

.form-floating .form-control.form-control--custom:focus::placeholder {
  color: unset;
}

.input-group .form-control.form-control--custom {
  padding: 1rem 0.75rem;
}

.main-content {
  padding-top: 150px;
}

.text-gray,
.text-gray:hover {
  color: var(--gray);
}

.text-light--custom,
.text-light--custom:hover {
  color: var(--light);
}

.text-orange,
.text-orange:hover {
  color: var(--orange);
}

.text-success--custom,
.text-success--custom:hover {
  color: var(--success);
}

/**
 * Auth Styles
 */

.background.background-auth {
  background-image: url('../images/pattern2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/**
 * Header Styles
 */

#header .container {
  justify-content: flex-start;
}

.img--navbar-brand {
  width: 110px;
}

#navbarSupportedContent {
  color: var(--gray);
}

#navbarSupportedContent.collapse {
  position: fixed;
  left: -100%;
  top: 0;
  width: 65%;
  height: 100vh;
  background-color: var(--white);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  padding: 0.5em 5%;
  display: block;

  transition: left 1s;
}

#navbarSupportedContent.collapsing,
#navbarSupportedContent.collapse.show {
  left: 0;
}

.form.form--search {
  display: none;
}

.form.form--search.should-show {
  display: flex;
  position: fixed;
  top: 50px;
  left: 8%;
  width: 84%;
}

.form.form--buttons {
  display: flex;
  flex-direction: column-reverse;
}

.form.form--buttons .btn {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.form.form--buttons .btn:nth-child(1) {
  border: 1.5px solid var(--success);
  color: var(--success);
}

.nav-link.nav-link--header {
  color: unset;
}

.nav-link.nav-link--header.active {
  border-bottom: 2px solid var(--success);
  color: var(--success);
}

@media screen and (min-width: 576px) {
  .img--navbar-brand {
    width: 200px;
  }

  .form.form--search.should-show {
    top: 60px;
  }
}

@media screen and (min-width: 992px) {
  .form.form--search.should-show {
    left: 5%;
    width: 90%;
  }
}

@media screen and (min-width: 1198px) {
  #header .container {
    justify-content: unset;
  }

  #navbarSupportedContent,
  #navbarSupportedContent.collapse,
  #navbarSupportedContent.collapsing,
  #navbarSupportedContent.collapse.show {
    position: unset;
    width: unset;
    height: unset;
    background-color: unset;
    box-shadow: unset;
    padding: unset;
    left: 0;
    color: unset;
  }

  .form.form--search.should-show {
    position: unset;
    width: unset;
  }

  .form.form--buttons {
    border-left: 1px solid var(--gray);
    flex-direction: row;
  }

  .form.form--buttons .btn {
    margin: unset;
  }

  .form.form--buttons .btn:nth-child(1) {
    color: var(--orange);
    box-shadow: none;
    border: unset;
  }
}

/*
  * Home Styles
 */

#home {
  background-image: url(../images/banner3.png);
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-size: 100%;
}

.carousel-inner--home {
  overflow: visible;
}

.carousel-indicators button {
  border: none !important;
  background: var(--orange) !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
}

.img--jumbo {
  transform: scale(1.08);
  position: relative;
  top: -20px;
}

.card.card--how-it-works {
  flex: 0 0 100%;
}

.btn#startBidding {
  margin-top: -100px;
}

#subscribe {
  background-image: url(../images/Pattern2.png);
  /* background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-size: 100%; */
}

@media screen and (min-width: 768px) {
  .card.card--how-it-works {
    flex: 0 0 45%;
  }
}

/*
* Auction Styles
*/
.card.card--auction {
  flex: 0 0 48%;
}

.card.card--auction a img {
  width: 120px;
}

@media screen and (min-width: 768px) {
  .card.card--auction {
    flex-basis: 32%;
  }

  .card.card--auction:nth-child(n + 19) {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .card.card--auction {
    flex-basis: 23.5%;
  }

  .card.card--auction:nth-child(n + 19) {
    display: block;
  }
}

@media screen and (min-width: 1198px) {
  .card.card--auction {
    flex-basis: 18%;
  }
}

/*
* Footer Styles
*/
#footer {
  background-image: url(../images/Pattern2.png);
}

.img--navbar-brand {
  width: 110px;
}

@media screen and (min-width: 576px) {
  .img--navbar-brand {
    width: 200px;
  }
}
