footer {
  background-color: var(--secondary);
  color: #fff;
}
.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer-list h5 {
  text-transform: capitalize;
  font-weight: 600;
}
.footer-list a {
  font-variant: small-caps;
  color: #f6f6f6;
  padding: 0.3rem 0;
}
.footer-text p {
  font-size: var(--small-font-size);
}
.subscribe {
  width: 100%;
  padding: 0.3rem 0.6rem;
}
.subscribe:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .footer-links {
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .footer-list {
    flex-basis: 50%;
    margin-bottom: 2rem;
  }
}
