.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: 0.4s;
  background-color: var(--secondary);
}
nav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav i {
  color: var(--light);
  width: 1.5rem;
  font-size: 1.25rem;
}
.nav-logo {
  font-size: var(--title-font-size);
  color: var(--light);
}
.nav-logo:hover {
  color: var(--light);
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light);
  margin: 0.5rem 0.8rem;
  font-weight: 600;
  font-size: var(--normal-font-size);
  cursor: pointer;
}
.nav-links:hover {
  color: var(--light);
}
/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(174, 63%, 15%, 0.15);
}

.nav-menu {
  margin: 0;
  padding: 1rem .5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  align-content: center;
  max-width: 580px;
  margin: 0 auto;
}
.nav-menu li {
  padding: 0.3rem 0;
  font-size: var(--large-font-size);
  color: var(--light);
  background-color: var(--secondary-light);
}
.nav-menu .menu-input {
  background-color: initial;
  padding: 0;
  grid-column: 1 / 3;
  grid-row: 2;
  position: relative;
}
.nav-menu .menu-input .menu-search {
  padding: 0.3rem;
  width: 100%;
  font-size: var(--normal-font-size);
}
.nav-menu .menu-input .search-icon {
  position: absolute;
  color: var(--secondary);
  right: 0;
  bottom: 0;
  padding: 0.3rem;
}
